<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Start Web Crawler</title>
    <meta charset="UTF-8">
</head>

<body onload='document.body.style.cursor = "default";'>
<script>document.body.style.cursor = "wait";</script>

<h1>Web Crawler</h1>

<form action="#" th:action="@{/pages}" th:object="${webUrlRequest}" method="post">
    <p>
        Start URL: <input type="text" th:field="*{startUrl}">
    </p>
    <p>
        Depth of Crawl: <input type="text" th:field="*{depthCrawl}">
    </p>
    <p>
        <input type="submit" value="Start"/> <input type="reset" value="Reset">
    </p>
</form>

</body>
</html>